.section-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.section {
  padding: 1rem;
  background-color: beige;
  height: 100vh;
}


.table__td{
  display: flex;

  &--button{
    margin: 0 1rem;
  }
}


.table__td--icon {
  margin: 0 .5rem;
  display: none;
}

@media screen and (max-width: 600px) {

  .section-top {
    flex-direction: column;
    gap: 1rem;
  }

  .table__td--button{
    display: none;
  }
  .mdc-fab--mini {
    width: 30px;
    height: 30px;
}
  .table__td--icon {
    display: block;
  }

}
