<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field >
    <mat-label>{{"INPUT_NAME" | translate}} </mat-label>
    <input matInput formControlName="name" uppercaseDirective type="text">
    <mat-error *ngIf="nameControl.touched && nameControl.invalid">This field is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{"INPUT_GENDER" | translate}}</mat-label>
    <mat-select formControlName="gender">
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
    <mat-error *ngIf="genderControl.touched && genderControl.invalid ">This field is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{"INPUT_POWER" | translate}}</mat-label>
    <input formControlName="power" matInput type="text">
    <mat-error *ngIf="powerControl.touched && powerControl.invalid "> This field is required</mat-error>
  </mat-form-field>

  <div class="form__btn">
    <button mat-raised-button class="form__btn--button" color="primary" [disabled]="form.invalid"> {{ "BTN_SAVE" | translate}} </button>
    <button mat-stroked-button class="form__btn--button" color="primary" routerLink="/heroes">{{ "BTN_BACK" | translate}}</button>
  </div>

</form>



